<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Home </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-welcome-container">
    <h1> Hola Esmirna</h1>
    <h2>aqui tenemos la lista de medicamentos...</h2>
  </div>

  <ion-card [routerLink]="['/medical-capture']">
    <ion-card-header>
      <ion-card-title>Paracetamol</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item detail>
        <ion-label>
          Un Cuarto cada 24 horas...
        </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
